//-
  Name: partials | header.pug
  Description: Page header
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

header.header(style="text-align: center")
  h1.header__logo ƒʋ.
  include nav.pug
