//-
  Name: partials | sidebar.pug
  Description: Sidebar partial
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

aside.sidebar
  h3 Sidebar
  p Cras id ipsum vel quam semper imperdiet. Integer imperdiet id lacus at ullamcorper. Ut libero libero, maximus lobortis ultrices ut, ullamcorper non turpis.
  p Suspendisse auctor eros non lectus faucibus, a tincidunt ex porttitor. In non cursus felis, et viverra orci. Praesent ac dui eget nisi sollicitudin ornare quis vitae turpis. Aliquam a rhoncus arcu, sed gravida est. Quisque pellentesque pharetra massa, hendrerit dapibus leo efficitur id. Maecenas eu elit suscipit, viverra purus vel, luctus felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
