//-
  Name: global | footer.pug
  Description: Footer global partial
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

footer.footer
  div(style="text-align: center;")
    copyright.copyright Copyright &copy; #{copyright.year}
