//-
  Name: global | footer-scripts.pug
  Description: Default page layout
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

//- Link javascript files here
//- script(src="../js/app.js")

//- Add your inline scripts here
script(type="text/javascript").
  console.log(`It's working!`);
