//-
  Name: global | head-prefetch.pug
  Description: Assets prefetching
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

//- Add the assets you need prefetched here
//- link(rel="prefetch" href="/assets/fontfile.ttf")
//- link(rel="prefetch" href="/assets/fontfile.woff")
//- link(rel="prefetch" href="/assets/fontfile.woff2")
