//-
  Name: global | meta-author.pug
  Description: Meta information for site author
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

link(rel="author" href="humans.txt")
link(rel="me" href="mailto:email@address.com")
