//-
  Name: global | meta-icons.pug
  Description: Site icons
  Author: Ovidiu Barabula <lectii2008@gmail.com>
  @since 1.0.0

//- Place your favicon.ico in your root folder

//- Add other icons here
//- link(rel="icon" sizes="192x192" href="/icon.png")
//- link(rel="apple-touch-icon" href="/icon.png")
//- link(rel="mask-icon" href="/icon.png" color="#4285f4")
